---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import { SITE_TITLE } from "../consts";
import { ClientRouter } from "astro:transitions";

import robotoCondensed from "../styles/fonts/RobotoCondensed-Regular.woff2?url";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const {
	title, 
	description, 
	image = "/blog-placeholder-about.jpg"
} = Astro.props;

const finalTitle = "Core Nexus Five | Data Pipeline";
const finalDescription = "AWS S3 + Glue Architecture por Nieves Pérez";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={new URL("rss.xml", Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<link rel="canonical" href={canonicalURL} />

<title>{finalTitle}</title>
<meta name="title" content={finalTitle} />
<meta name="description" content={finalDescription} />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={finalTitle} />
<meta property="og:description" content={finalDescription} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={finalTitle} />
<meta property="twitter:description" content={finalDescription} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap"
  rel="stylesheet"
  media="print"
  onload="this.media='all'"
/>
<noscript>
  <link
    href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap"
    rel="stylesheet"
  />
</noscript>

<link
  rel="preload"
  href={robotoCondensed}
  as="font"
  type="font/woff2"
  crossorigin
/>

<link rel="preconnect" href="https://api.iconify.design" crossorigin />

<link
  rel="preload"
  as="image"
  href="/assets/city1-800.webp"
  imagesrcset="/assets/city1.webp"
  imagesizes="(max-width: 768px) 90vw, 1200px"
  fetchpriority="high"
/>
